/* This is the destination style file */
@use "../css/partials/variables" as *;
@use "../css/partials/mixins" as *;
.destination-page {
  &__item__heading {
    color: $labels-text-color;
    font-size: 5rem;
    padding-left: 5rem;
    @include mobile {
      font-size: 2rem;
      padding-left: 2rem;
    }
    @include tablet {
      font-size: 2.5rem;
      padding-left: 2.5rem;
      padding-top: 1rem;
    }
  }
  &__item--image--style {
    @include image-style;
    height: 113vh;
    width: 100vw;
    padding-top: 10rem;
    @include mobile {
      height: 82.5vh;
      width: 98vw;
      width: auto;
      height: auto;
      padding-top: 8rem;
      padding-bottom: 5rem;
    }
    @include tablet {
      height: 82.5vh;
      width: 98vw;
      padding-top: 5rem;
    }
  }
  &__item--image-hawaii {
    background-image: url(../assets/Images/hawaii.jpg);
  }
  &__item--image-iceland {
    background-image: url(../assets/Images/iceland.jpg);
  }
  &__item--image-greece {
    background-image: url(../assets/Images/greece.jpg);
  }
  &__item--cards {
    text-align: center;
    padding-top: 6rem;
    @include mobile {
      padding-top: 1rem;
    }
  }
  &__item--card {
    background-color: $labels-text-color;
    width: 24rem;
    display: inline-block;
    padding: 0rem 1.5rem;
    padding-bottom: 4.5rem;
    margin: 0rem 1.5rem;
    border-radius: 0.5rem;
    @include mobile {
      width: 9rem;
      padding-bottom: 1rem;
      margin: 0rem 0.5rem;
    }
    @include tablet {
      width: 12rem;
      padding-bottom: 2.25rem;
      margin: 0rem 0.75rem;
    }
  }
  &__item__sub-heading {
    font-size: 2rem;
    text-align: center;
    border-bottom: 0.25rem solid $destination-card-box-shadow-color;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    @include mobile {
      font-size: 1rem;
      margin-top: 0.4rem;
      margin-bottom: 1rem;
    }
    @include tablet {
      font-size: 1rem;
      margin-top: 0.5rem;
      margin-bottom: 1.25rem;
    }
  }
}
.activity__list__item {
  font-size: 1.3rem;
  background-color: $hero-background-color;
  margin: 1.5rem 0rem;
  text-align: center;
  list-style-type: none;
  padding: 1.3rem 2rem;
  @include mobile {
    font-size: 1rem;
    margin: 0.75rem 0rem;
    padding: 0.5rem 0.8rem;
  }
  @include tablet {
    font-size: 1rem;
    margin: 0.75rem 0rem;
    padding: 0.65rem 1rem;
  }
}
