/* This is the global style file */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana;
  color: #335576;
  overflow-x: hidden;
}
/* NAVIGATION SECTION */
.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.6rem;
  margin: 0rem;
  background-color: #ffffff;
  position: fixed;
  align-items: baseline;
  z-index: 1;
}
.navigation__header {
  width: 40%;
  margin-left: 4rem;
}
.navigation__header--style {
  text-decoration: none;
  color: #335576;
  font-size: 1.5rem;
}
.navigation__menu__list {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-right: 24rem;
  box-sizing: border-box;
}
.navigation__menu__list__item {
  list-style-type: none;
}
.navigation__menu__list__item--active-page {
  text-decoration: 5px underline #db7a4e;
  text-underline-offset: 0.9rem;
}
.navigation__menu__list__item:hover {
  text-decoration: 5px underline #335576;
  text-underline-offset: 0.9rem;
}
.navigation__menu__list__item--style {
  text-decoration: none;
  color: #000000;
  font-size: 1.2rem;
}
/* FOOTER SECTION */
.footer-section {
  background-color: #fefaf5;
  display: flex;
  justify-content: center;
  padding: 1rem 1rem;
}
.footer-section__item {
  margin: 3rem 3rem;
}
.footer-section__item--schedule {
  width: 38rem;
}
.footer-section__item--heading {
  font-size: 2rem;
}
.footer-section__item--information {
  display: inline-block;
  margin: 2rem 2rem 0rem 0rem;
}
.footer-section__item--subheading {
  color: #db7a4e;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 520;
}
.footer-section__item--description {
  margin-top: 1rem;
  font-size: 1.3rem;
}
.footer-section__item__social-media__icons {
  display: flex;
  padding-top: 1.2rem;
  padding-left: 0rem;
  box-sizing: border-box;
}
.footer-section__item__social-media__icons--img--style {
  padding: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 0rem;
  margin-right: 2.5rem;
}
.footer-section__item__social-media__icons__img--instagram {
  background-image: url(../assets/Icons/icon-instagram.png);
}
.footer-section__item__social-media__icons__img--facebook {
  background-image: url(../assets/Icons/icon-facebook.png);
  padding: 1rem 0.5rem;
}
.footer-section__item__social-media__icons__img--twitter {
  background-image: url(../assets/Icons/icon-twitter.png);
}
.confirmation__section,
.reservation-section {
  padding-top: 2rem;
  margin-left: 5rem;
}
