/* This is the global style file */
@use "../css/partials/variables" as *;
@use "../css/partials/common-styles/navigation-bar";
@use "../css/partials/common-styles/footer-bar";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana;
  color: $primary-color;
  overflow-x: hidden;
}
