@use "./variables" as *;

// IMAGE STYLE
@mixin image-style {
  background-repeat: $background-repeat;
  background-position: $background-position;
  background-size: $background-size;
}
//NAVIGATION STYLE
@mixin width-style {
  width: 100vw;
}
// DESTINATION STYLE
@mixin destination-heading($labels-text-color) {
  color: $labels-text-color;
  padding-top: 3rem;
  font-size: 3.9rem;
  padding-left: 5rem;
}
@mixin card($labels-text-color) {
  background-color: $labels-text-color;
  width: 24rem;
  display: inline-block;
  padding: 0rem 1.5rem;
  padding-bottom: 4.5rem;
  margin: 0rem 1.5rem;
  border-radius: 0.5rem;
}
@mixin subheading($destination-card-box-shadow-color) {
  font-size: 2rem;
  text-align: center;
  border-bottom: 0.25rem solid $destination-card-box-shadow-color;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}
@mixin activity-list($hero-background-color) {
  font-size: 1.3rem;
  background-color: $hero-background-color;
  margin: 1.5rem 0rem;
  text-align: center;
  list-style-type: none;
  padding: 1.3rem 2rem;
}
// OTHER STYLES
@mixin auto-margin-left-right {
  margin-left: auto;
  margin-right: auto;
}
@mixin auto-width-height {
  width: auto;
  height: auto;
}
@mixin buttons($buttons-background-color) {
  background-color: $buttons-background-color;
  font-size: 1.3rem;
  text-align: center;
  padding: 0.5em;
  margin-top: 3rem;
  width: 12rem;
  border-radius: 2.5rem;
}
// MEDIA QUERIES
@mixin mobile {
  @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}
//MEDIA QUERIES SPECIFIC STYLES FOR FOOTER
@mixin footer-schedule {
  width: 19rem;
}
@mixin footer-heading {
  font-size: 1rem;
}
@mixin footer-information {
  margin: 1rem 1rem 0rem 0rem;
}
@mixin footer-subheading {
  font-size: 0.5rem;
}
@mixin footer-description {
  font-size: 0.75rem;
}
