//COLORS
$buttons-background-color: #db7a4e;
$labels-text-color: #ffffff;
$destination-card-box-shadow-color: #000000;
$primary-color: #335576;
$hero-background-color: #fefaf5;
//IMAGE STYLE
$background-repeat: no-repeat;
$background-position: center;
$background-size: cover;
// MEDIA QUERIES
$mobile-min-width: 0px;
$mobile-max-width: 767px;
$tablet-min-width: 768px;
$tablet-max-width: 1307px;
$desktop-min-width: 1308px;
// $desktop-max-width: 1307px;
