@use "../variables" as *;
@use "../mixins" as *;
/* FOOTER SECTION */
.footer-section {
  background-color: $hero-background-color;
  display: flex;
  justify-content: center;
  padding: 2rem 1rem 1rem 1rem;
  margin: auto;
  @include mobile {
    display: inline-block;
    padding-top: 0.5rem;
    width: 100vw;
    padding-left: 4rem;
  }
  @include tablet {
    padding-top: 0.5rem;
  }
  &__item {
    margin: 3rem;
    @include mobile {
      margin: auto;
    }
    @include tablet {
      margin: 0rem;
    }
  }
  &__item--schedule {
    width: 38rem;
    @include mobile {
      @include footer-schedule;
    }
    @include tablet {
      @include footer-schedule;
    }
  }
  &__item--heading {
    font-size: 2rem;
    @include mobile {
      @include footer-heading;
    }
    @include tablet {
      @include footer-heading;
    }
  }
  &__item--information {
    display: inline-block;
    margin: 2rem 2rem 0rem 0rem;
    @include mobile {
      @include footer-information;
    }
    @include tablet {
      @include footer-information;
    }
  }
  &__item--subheading {
    color: $buttons-background-color;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 520;
    @include mobile {
      @include footer-subheading;
    }
    @include tablet {
      @include footer-subheading;
    }
  }
  &__item--description {
    margin-top: 1rem;
    font-size: 1.3rem;
    @include mobile {
      @include footer-description;
    }
    @include tablet {
      @include footer-description;
    }
  }
  &__item--icons {
    display: flex;
    padding-top: 1.2rem;
    padding-left: 0rem;
    box-sizing: border-box;
    @include mobile {
      padding-top: 0.5rem;
    }
    @include tablet {
      padding-top: 0.6rem;
    }
  }
  &__item--img {
    padding: 1rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 0rem;
    margin-right: 2.5rem;
    @include mobile {
      padding: 0.5rem;
    }
    @include tablet {
      padding: 0.8rem;
    }
  }
  &__item--instagram {
    background-image: url(../assets/Icons/icon-instagram.png);
  }
  &__item--facebook {
    background-image: url(../assets/Icons/icon-facebook.png);
    padding: 1rem 0.5rem;
    @include mobile {
      padding: 0.5rem 0.25rem;
    }
    @include tablet {
      padding: 0.8rem 0.4rem;
    }
  }
  &__item--twitter {
    background-image: url(../assets/Icons/icon-twitter.png);
  }
}
.confirmation__section,
.reservation-section {
  padding-top: 2rem;
  margin-left: 5rem;
}
