@use "../variables" as *;
@use "../mixins" as *;

/* NAVIGATION SECTION */
.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.6rem;
  margin: 0rem;
  background-color: $labels-text-color;
  position: fixed;
  align-items: baseline;
  z-index: 1;
  @include mobile {
    @include width-style;
  }
  @include tablet {
    @include width-style;
  }

  &__header {
    width: 15rem;
    margin-right: auto;
  }
  &__header--style {
    text-decoration: none;
    color: $primary-color;
    font-size: 1.5rem;
    padding-left: 4rem;
    @include mobile {
      font-size: 1rem;
      display: inline-flex;
      padding-left: 1rem;
    }
    @include tablet {
      font-size: 1.2rem;
      display: inline-flex;
      padding-left: 2rem;
    }
  }
  &__menu--list {
    display: flex;
  }
  &__menu--list-item {
    list-style-type: none;
    margin-right: 2.5rem;
  }
  &__menu--list-item-active {
    text-decoration: 5px underline;
    text-underline-offset: 0.9rem;
    text-decoration-color: $buttons-background-color;
  }
  &__menu--list-item:hover {
    text-decoration: 5px underline;
    text-underline-offset: 0.9rem;
    text-decoration-color: $primary-color;
  }
  &__menu--list-item-style {
    text-decoration: none;
    color: $destination-card-box-shadow-color;
    font-size: 1.2rem;
    @include mobile {
      font-size: 1rem;
    }
    @include tablet {
      font-size: 1rem;
    }
  }
}
